* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page {
}

.section {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: coral;
}

/* Mobile Styles */
/* Lägg till en @media regel som gäller för skärmar som är max 520px */

/* Tablet Styles */
/* Lägg till en @media regel som gäller för skärmar som är minst 520px och max 960px */

/* Desktop Styles */
/* Lägg till en @media regel som gäller för skärmar som är minst 960px */

/* Dessa CSS-regler böhver inte ändras */
.menu {
	background-color: #5995da;
	height: 80px;
}

.header {
	background-color: #b2d6ff;
}

.content {
	background-color: #eaedf0;
	height: 600px;
}

.sign-up {
	background-color: #d6e9fe;
}

.feature-1 {
	background-color: #f5cf8e;
}

.feature-2 {
	background-color: #f09a9d;
}

.feature-3 {
	background-color: #c8c6fa;
}
